a {
  text-decoration: none;
}

.content {
  margin: 0;
  padding: 0;
  display: flex;
}

/* Portfolio */

/* Колір основного тексту: #212121 */
/* Вторинний колір тексту #757575 */
/* Білий #FFFFFF */
/* Акцент #2196F3 */
/* Вторинний колір фону */

:root {
  --secondary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --two-word-logo-color: #000000;
  --primary-white-color: #ffffff;

  /* Footer */
  --footer-contacts: #ffffff99;
  --footer-background-color: #2f303a;
}

body {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid tomato;
}

.section {
  padding-bottom: 94px;
}

.container-flex {
  display: flex;
  align-items: center;
}

.header .first-word-logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header .two-word-logo {
  color: var(--two-word-logo-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.first-word-logo:hover,
.first-word-logo:focus {
  color: var(--accent-color);
}

.two-word-logo:hover,
.ftwo-word-logo:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 86px;
  padding: 0;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-contacts {
  display: flex;
  margin-left: auto;
}

.site-contacts .item + .item {
  margin-left: 30px;
}

.site-contacts .contact-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.site-contacts .contact-link:hover,
.site-contacts .contact-link:focus {
  color: var(--accent-color);
}

.portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.portfolio .button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.portfolio-nav .item + .item {
  margin-left: 8px;
}

.portfolio-list .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .portfolio-item-title {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.8;
}

.portfolio-description {
  font-size: 18px;
  line-height: 1.5;
}

.footer .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer {
  color: var(--primary-white-color);
  background-color: var(--footer-background-color);
}

.footer .first-word-logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer .two-word-logo {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.first-word-logo:hover,
.first-word-logo:focus {
  color: var(--accent-color);
}

.two-word-logo:hover,
.ftwo-word-logo:focus {
  color: var(--accent-color);
}

.footer .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer .contacts {
  color: var(--footer-contacts);
  font-size: 14px;
  line-height: 1.7;
}

.footer .join-in {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer .link {
  color: var(--primary-white-color);
}

footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}

.footer .subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer .email {
  color: var(--footer-contacts);
  font-size: 16px;
  line-height: 1.25;
}

.footer .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
