/* Колір основного тексту: #212121 */
/* Вторинний колір тексту #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* вторинний колір фону */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;

  /* Footer */
  --footer-primary-text-color: #ffffff99;
  --footer-background-color: #2f303a;
}

body {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
}

.logo:hover {
  color: var(--primary-white-color);
}

/* Site-nav */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-contacts .email {
  color: var(--accent-color);
}
.section .button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portolio-list .primary.text.color {
  color: var(--primary-text-color);
}

.footer {
  color: var(--primary-white-color);
  background-color: var(--footer-background-color);
}

.footer .footer-contacts {
  color: var(--footer-primary-text-color);
}

.footer .social-networks {
  color: var(--primary-white-color);
}

.footer .link {
  color: var(--primary-white-color);
}

footer .link:hover,
footer .link:focus {
  color: var(--accent-color);
}

.footer .footer-subscribe {
  color: var(--primary-text-color);
}

.footer .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
