:root {
    /*Basic colours  */
    --title-text-color: #212121;
    --secondary-text-color: #757575;
    --primary-white-color: #ffffff;
    --accent-color: #2196f3;
    --two-word-logo-color: #000000;
    --our-team-background-color: #f5f4fa;
    --icon-color: #afb1b8;

    /* Footer colours */
    --footer-background-color: #2f303a;
    --footer-contacts: #ffffff99;
    /* --footer-email: rgba(255, 255, 255, 0.3); */
}